# Ejercicios SQL

In [4]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
        .master("local[1]") \
        .appName("Ejercicios SQL") \
        .getOrCreate()

In [10]:
# Import data from agents.csv
df_agents = spark.read.option("header",True) \
        .option("inferSchema",True) \
        .csv("agents.csv", )
df_agents.printSchema()
df_agents.show()

root
 |-- agentid: integer (nullable = true)
 |-- name: string (nullable = true)

+-------+------------------+
|agentid|              name|
+-------+------------------+
|      0|  Michele Williams|
|      1|    Jocelyn Parker|
|      2|Christopher Moreno|
|      3|       Todd Morrow|
|      4|       Randy Moore|
|      5|        Paul Nunez|
|      6|      Gloria Singh|
|      7|      Angel Briggs|
|      8|      Lisa Cordova|
|      9|        Dana Hardy|
|     10|           Agent X|
+-------+------------------+

In [11]:
# Import data from calls.csv
df_calls = spark.read.option("header",True) \
        .option("inferSchema",True) \
        .csv("calls.csv", )
df_calls.printSchema()
df_calls.show()

root
 |-- callid: integer (nullable = true)
 |-- agentid: integer (nullable = true)
 |-- customerid: integer (nullable = true)
 |-- pickedup: integer (nullable = true)
 |-- duration: integer (nullable = true)
 |-- productsold: integer (nullable = true)

+------+-------+----------+--------+--------+-----------+
|callid|agentid|customerid|pickedup|duration|productsold|
+------+-------+----------+--------+--------+-----------+
|     0|     10|       179|       0|       0|          0|
|     1|      5|       691|       1|     116|          0|
|     2|     10|        80|       1|     165|          0|
|     3|      6|       629|       1|     128|          0|
|     4|      8|       318|       1|     205|          0|
|     5|      7|       319|       1|     225|          1|
|     6|     10|       265|       1|     211|          0|
|     7|      9|       625|       0|       0|          0|
|     8|      5|       877|       0|       0|          0|
|     9|      5|       191|       1|     145|          0|
|    10|      9|       494|       0|       0|          0|
|    11|      5|       558|       0|       0|          0|
|    12|      3|       703|       1|     303|          0|
|    13|      5|       684|       1|     258|          0|
|    14|      2|       601|       1|     179|          0|
|    15|     10|       399|       0|       0|          0|
|    16|      8|       460|       0|       0|          0|
|    17|     10|       858|       1|     118|          1|
|    18|      4|       192|       0|       0|          0|
|    19|      8|       413|       1|     180|          0|
+------+-------+----------+--------+--------+-----------+
only showing top 20 rows

In [12]:
df_calls.count()

9940

In [13]:
# Import data from customers.csv
df_customers = spark.read.option("header",True) \
        .option("inferSchema",True) \
        .csv("customers.csv", )
df_customers.printSchema()
df_customers.show()
df_customers.count()

root
 |-- customerid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- email: string (nullable = true)
 |-- company: string (nullable = true)
 |-- phonenumber: string (nullable = true)
 |-- Age: integer (nullable = true)

+----------+------------------+--------------------+--------------------+--------------------+------------+---+
|customerid|              name|          occupation|               email|             company| phonenumber|Age|
+----------+------------------+--------------------+--------------------+--------------------+------------+---+
|         0|      David Melton|          Unemployed|    DMelton@zoho.com|Morris, Winters a...|409-093-0748| 16|
|         1|  Michael Gonzalez|             Student|Gonzalez_Michael@...|  Hernandez and Sons|231-845-0673| 19|
|         2|     Amanda Wilson|             Student|Amanda.Wilson75@v...|Mooney, West and ...|844-276-4552| 18|
|         3|     Robert Thomas|Engineer, structural| RThomas@xfinity.com|      Johnson-Gordon|410-404-8000| 25|
|         4|        Eddie Hall|             Surgeon|EddieHall@outlook...|          Dawson LLC|872-287-2196| 30|
|         5|  Charles Cruz DDS|          Unemployed|CharlesDDS55@hotm...|   Mitchell and Sons|744-564-0382| 16|
|         6|     Maria Johnson|Engineer, aeronau...|    MJohnson@aol.com|         Gibbs-Avery|448-258-9852| 22|
|         7|    Michael Vaughn|   Librarian, public|MichaelVaughn@zoh...|            Rice LLC|275-669-5217| 30|
|         8|Emily Anderson DDS|           Solicitor| Emily_DDS@yahoo.com|     Little and Sons|334-290-7258| 28|
|         9|     Travis Jensen|          Unemployed|Travis.Jensen@hot...|     Edwards-Collins|106-848-8870| 13|
|        10|        Ryan Banks|             Student|Ryan_Banks35@gmai...|Mitchell, Dean an...|465-548-1441| 21|
|        11| Brandon Alexander|   Chemical engineer|Alexander_Brandon...|         Robbins Ltd|305-319-8515| 29|
|        12|     Valerie Moore|          Unemployed|Moore_Valerie@ver...|       Choi and Sons|288-680-8457| 16|
|        13|          Tina Cox|          Unemployed|Tina_Cox@protonma...|Giles, Harris and...|535-922-1854| 16|
|        14|    Michelle Reyes|  Engineer, drilling|Michelle.Reyes@ao...|Stewart, Dawson a...|280-280-1661| 31|
|        15|     Grace Pearson|          Unemployed|  Grace_P@yandex.com|       Taylor-Walker|973-809-0260| 14|
|        16|       Lauren Hill|          Counsellor|Hill_Lauren73@aol...|Parsons, Nelson a...|175-283-1682| 27|
|        17|    Kelsey Perkins|               Nurse|  Kelsey_P80@att.com|Stephenson, Mccoy...|925-021-2855| 25|
|        18|      Zachary Howe|          Unemployed|Howe.Zachary@xfin...|Mullins, Dawson a...|556-773-8367|  0|
|        19|  Elizabeth Harris|          Unemployed|Elizabeth_Harris3...|Grant, Bowman and...|177-551-8499| 11|
+----------+------------------+--------------------+--------------------+--------------------+------------+---+
only showing top 20 rows

1000

In [18]:
# Create temporary tables
df_agents.createOrReplaceTempView("agents")       # Agentes
df_calls.createOrReplaceTempView("calls")         # Llamadas
df_customers.createOrReplaceTempView("customers") # Clientes

## Ejercicio 1

In [19]:
# SQL Select query
df_agents_ej_1 = spark.sql("""
select * from agents
where name like 'M%' or name like '%o'
""")
df_agents_ej_1.show()

+-------+------------------+
|agentid|              name|
+-------+------------------+
|      0|  Michele Williams|
|      2|Christopher Moreno|
+-------+------------------+