In [1]:
!pip install anonymizedf
import pandas as pd
from anonymizedf.anonymizedf import anonymize

Collecting anonymizedf
  Downloading anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (from anonymizedf) (2.0.0)
Collecting faker (from anonymizedf)
  Downloading Faker-18.10.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 1.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.10/site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas->anonymizedf) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-18.10.1

# Paso 1: Lectura de datos

In [6]:
df= pd.read_csv('/home/coder/working_dir/semana_8/Datos_Microdesafio_Semana8_DE.csv',sep=';')
df.head(12)

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737
11,Canada,John white,No,Si,Si,04/01/2022,83873734

In [7]:
df.dtypes

Pais                 object
Comisionado          object
Reduccion_CO2        object
Incrmento_P          object
Inversion_arboles    object
Fecha                object
Telefono              int64
dtype: object

# Paso 2: Anonimizacion de columnas

In [8]:
# Preparar el dataframe
an = anonymize(df)

In [13]:
fake_df = (
    an
    .fake_names("Comisionado", chaining=True)
    .fake_dates("Fecha", chaining=True)
    .fake_whole_numbers("Telefono", chaining=True)
    .show_data_frame()
)
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Martyn Vaughan,1993-08-20,14411916
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Scott Moore,2022-06-09,82809257
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Dr Max Gardner,1990-06-02,73681275
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Maureen Gardner,1988-10-27,33980488
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Dr Clifford Jennings,2013-03-18,15826370
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Mr Gordon Williamson,2017-12-28,75991235
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Dr Phillip North,2002-07-08,31831283
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Alan Clarke,2022-06-09,48252366
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Miss Sophie Khan,1985-06-14,42825731
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Gail Haynes,1988-07-07,53860040
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Andrew Roberts,1992-06-29,79469455
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Mr Jack Taylor,1988-06-19,16381181
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Ryan Knowles-Henderson,1975-04-19,81226716
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Diane Knight,1970-01-24,38014425
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Julian Williams,2022-11-05,79314883

In [10]:
fake_df.dtypes

Pais                 object
Comisionado          object
Reduccion_CO2        object
Incrmento_P          object
Inversion_arboles    object
Fecha                object
Telefono              int64
Fake_Comisionado     object
Fake_Fecha           object
Fake_Telefono         int64
dtype: object

In [20]:
fake_df['Fake_Fecha'] = fake_df['Fake_Fecha'].apply(lambda x : f'{x[8:10]}/{x[5:7]}/{x[0:4]}')

In [21]:
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono,f_fecha
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Martyn Vaughan,20/08/1993,14411916,20/08/1993
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Scott Moore,09/06/2022,82809257,09/06/2022
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Dr Max Gardner,02/06/1990,73681275,02/06/1990
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Maureen Gardner,27/10/1988,33980488,27/10/1988
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Dr Clifford Jennings,18/03/2013,15826370,18/03/2013
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Mr Gordon Williamson,28/12/2017,75991235,28/12/2017
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Dr Phillip North,08/07/2002,31831283,08/07/2002
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Alan Clarke,09/06/2022,48252366,09/06/2022
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Miss Sophie Khan,14/06/1985,42825731,14/06/1985
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Gail Haynes,07/07/1988,53860040,07/07/1988
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Andrew Roberts,29/06/1992,79469455,29/06/1992
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Mr Jack Taylor,19/06/1988,16381181,19/06/1988
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Ryan Knowles-Henderson,19/04/1975,81226716,19/04/1975
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Diane Knight,24/01/1970,38014425,24/01/1970
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Julian Williams,05/11/2022,79314883,05/11/2022

In [22]:
fake_df.columns

Index(['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
       'Inversion_arboles', 'Fecha', 'Telefono', 'Fake_Comisionado',
       'Fake_Fecha', 'Fake_Telefono', 'f_fecha'],
      dtype='object')

# Paso 3: Eleccion de columnas para alimentar database

In [24]:
df_final=fake_df[['Pais','Fake_Comisionado','Reduccion_CO2','Incrmento_P','Inversion_arboles',
                  'Fake_Fecha','Fake_Telefono']]
df_final.columns=[['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
                   'Inversion_arboles', 'Fecha', 'Telefono',]]
df_final

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Martyn Vaughan,Si,Si,Si,20/08/1993,14411916
1,Colombia,Scott Moore,No,No,Si,09/06/2022,82809257
2,Chile,Dr Max Gardner,Si,Si,Si,02/06/1990,73681275
3,Bolivia,Maureen Gardner,No,No,No,27/10/1988,33980488
4,Paraguay,Dr Clifford Jennings,No,Si,Si,18/03/2013,15826370
5,Venezuela,Mr Gordon Williamson,Si,Si,No,28/12/2017,75991235
6,Uruguay,Dr Phillip North,No,No,Si,08/07/2002,31831283
7,Brasil,Alan Clarke,Si,Si,No,09/06/2022,48252366
8,Ecuador,Miss Sophie Khan,No,No,No,14/06/1985,42825731
9,Peru,Gail Haynes,No,No,No,07/07/1988,53860040
10,EEUU,Andrew Roberts,Si,Si,Si,29/06/1992,79469455
11,Canada,Mr Jack Taylor,No,Si,Si,19/06/1988,16381181
12,Mexico,Ryan Knowles-Henderson,Si,Si,No,19/04/1975,81226716
13,Costa Rica,Diane Knight,No,No,Si,24/01/1970,38014425
14,Jamaica,Julian Williams,No,No,No,05/11/2022,79314883

# Paso 4: Conexion a Redshift

In [ ]:
from sqlalchemy import create_engine, text
import psycopg2
# Caso PostgreSQL local
engine= create_engine("postgresql://postgres:XXXXX@localhost:5432/BDE_POLITICAS_FIN")
# Caso redshift
#engine= conn = create_engine('postgresql://username:password@yoururl.com:5439/yourdatabase')

# Paso 5: Enviar tabla a la base de datos

In [ ]:
df = df_final.to_sql('POLITICAS_2050', engine, if_exists='replace', index=False)